body {

}

header {
    background: url("../images/backgrounds/bgk-header.png") top center no-repeat;
    background-size: cover;
    height: 75vh;
}

#tajam-navbar {
    background-color: transparent;
    .navbar-nav {
        li.nav-item {
            a.nav-link:link,
            a.nav-link:visited {
                font-weight: 500;
                color: $white;
            }
        }
    }
}

.hero {
    h1 {
        margin-top: 5rem;
        color: $white;
    }
    p {
        margin: 2rem auto;
        max-width: 50%;
        color: $white;
    }
}

.wrap-video {
    background: url("../images/backgrounds/bgk-middle.png") top center no-repeat;
    background-size: cover;
    height: 550px;
}
.button-video {
    background: none;
    border: 0;
    img {
        margin: 0;
    }
}

.grid-expertise {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    // grid-template-rows: repeat(2, 1fr);
    align-items: center;
}

.grid-item {
    align-self: center;
    padding: 2rem;
    text-align: center;
}

.brand-logo {
    display: block;
    width: 150px;
    margin: 4rem auto;
}