@font-face {
    font-family: "Bitter";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Bitter/static/Bitter-Regular.ttf") format("ttf");
}

.bitter {
    font-family: "Bitter";
}

body {
    
}

// Debug help
body:after {
    content: "XS";
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 80px;
    height: 80px;
    background-color: $gray-200;
    text-align: center;
    padding-top: 1.8rem;
    border-radius: 5px;
    color: $black;
}

header {
    background: url("../images/backgrounds/bgk-header.png") top center no-repeat;
    background-size: cover;
    height: 75vh;
    align-items: center;
}
#tajam-navbar {
    background-color: transparent;
    .navbar-nav {
        li.nav-item {
            a.nav-link:link,
            a.nav-link:visited {
                font-weight: 500;
                color: $white;
            }
            a.nav-link:hover,
            a.nav-link:focus {
                color: $primary;
            }
        }
    }
}
.navbar {
    .navbar-toggler-icon {
        background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
    .navbar-toggler {
        border: 0;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.navbar-toggler {
    padding: 0;
    border: 0;
    .ham {
      cursor: pointer;
      -webkit-tap-highlight-color: transparent;
      transition: transform 400ms;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  
    .hamRotate.active {
      transform: rotate(45deg);
    }
  
    .line {
      fill: none;
      transition: stroke-dasharray 350ms, stroke-dashoffset 350ms;
      stroke: $white;
      stroke-width: 3.5;
      stroke-linecap: square;
    }
  
    .ham8 {
      .top {
        stroke-dasharray: 40 160;
      }
  
      .middle {
        stroke-dasharray: 40 142;
        transform-origin: 50%;
        transition: transform 400ms;
      }
  
      .bottom {
        stroke-dasharray: 40 85;
        transform-origin: 50%;
        transition: transform 400ms, stroke-dashoffset 400ms;
      }
    }
  
    .ham8.active {
      .top {
        stroke-dashoffset: -64px;
      }
  
      .middle {
        transform: rotate(90deg);
      }
  
      .bottom {
        stroke-dashoffset: -64px;
      }
    }
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.hero-inner {
    // Flex or grid
    display: flex;
    flex-direction: column; // This does the trick in combo with display: flex; align-items:center; justify-content: center;
    align-items: center;
    justify-content: center;
    height: 550px;
    text-align: center;
    h1, p {
        width: 75%;
        color: $white;
        margin-left: auto;
        margin-right: auto;
    }
    h1 {
       margin-bottom: 0;
    }
    .mini-bar {
        width: 60px;
        height: 2px;
        margin: 1rem 0;
        background-color: $primary;
    }
    p {
        width: 60%;
        margin-bottom: 2rem;
    }
}

.wrap-logo-big {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    .logo-big {
        margin-top: 2rem;
        margin-left: auto;
        margin-right: auto;
        width: 160px;
        height: 160px;
    }
}

.wrap-video {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    height: 550px;
    background: url("../images/backgrounds/bgk-middle.png") top center no-repeat;
    background-size: cover;
}
.button-video {
    background: none;
    border: 0;
    img {
        margin: 0;
    }
}

// Rewrite me
.wrap-expertise {
    .mini-bar {
        background-color: $gray-400;
        height: 2px;
        width: 60px;
        display: block;
        margin: 0 auto;
    }
}

.grid-expertise {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    // grid-template-rows: repeat(2, 1fr);
    align-items: center;
    margin-bottom: 4rem;
}

.grid-item {
    align-self: center;
    padding: 2rem;
    text-align: center;
    border: 1px solid $gray-400;
    .grid-icon {
        margin-bottom: 2rem;
        height: 50px;
    }
    h3 {
        font-size: 1rem;
        color: $gray-800;
    }
    p {
        margin: 0 2rem;
    }
}

.grid-item:first-of-type {
    border-top: 0;
    border-left: 0;
}

.grid-item:nth-of-type(2) {
    border-top: 0;
    // border-left: 0;
    // border-right: 0;
}
.grid-item:nth-of-type(3) {
    border-top: 0;
    border-right: 0;
}
.grid-item:nth-of-type(4) {
    border-bottom: 0;
    border-left: 0;
}
.grid-item:nth-of-type(5) {
    border-bottom: 0;
}
.grid-item:nth-of-type(6) {
    border-bottom: 0;
    border-right: 0;
}


.grid-team {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.brand-logo {
    display: block;
    width: 150px;
    margin: 4rem auto;
}

footer {
    background: url("../images/backgrounds/bgk-footer.png") top center no-repeat;
    background-size: cover;
    height: 270px;
    h3 {
        color: $white;
    }
}

#navbar-footer {
    .navbar-nav {
        .nav-item {
            a {
                color: $white;
            }
        }
    }
}

@include media-breakpoint-up(sm) {
    body:after {
        content: "SM";
        background-color: red;
    }
}
@include media-breakpoint-up(md) {
    body:after {
        content: "MD";
        background-color:green;
    }
    .wrap-logo-big {
        .logo-big {
            margin-top: 7rem;
            margin-left: auto;
            margin-right: 3rem;
        }
    }
}
@include media-breakpoint-up(lg) {
    body:after {
        content: "LG";
        background-color: blue;
    }
}
@include media-breakpoint-up(xl) {
    body:after {
        content: "XL";
        background-color: yellow;
    }
}
@include media-breakpoint-up(xxl) {
    body:after {
        content: "XXL";
        background-color: purple;
    }
}